@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  font-family: "Poppins", "Inter", sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  text-align: center;
}
